#teste_gui{
    animation: mymove 1s infinite alternate;
}

@keyframes mymove {
    from {bottom: 4.5rem;}
    to {bottom: 6rem;}
  }

  @media (max-width: 468px){
      #teste_gui{
          display: none;
      }
  }