@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Rubik:wght@300;500;700&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(134deg, black 0, #000000e8 50%);
  color: white;
  font-family: 'Rubik';
  width: 100%;
}

button{
  cursor: pointer;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
}

p{
  padding: 0;
  margin: 0;
}

.loaderOff{
  display: none!important;
}